deps/closure-compiler/closure-compiler
deps/closure-externs/closure-externs
deps/closure-library/closure-library
deps/clutz/clutz
deps/gradle/gradle
deps/node/node
deps/tsickle/tsickle
deps/angular/angular
deps/rxjs/rxjs
deps/symbol-observable/symbol-observable

js/closure-library
js/tsickle_externs.js
js/clutz-externs
js/bin
js/app/ts
js/closure-node-modules

ts/app/definitions/clutz
ts/app/basic.ngfactory.ts

node_modules/

build/**/.*
