deps/closure-compiler/closure-compiler
deps/closure-externs/closure-externs
deps/closure-library/closure-library
deps/clutz/clutz
deps/gradle/gradle
deps/node/node
deps/tsickle/tsickle

js/closure-library
js/tsickle_externs.js
js/externs/closure
js/bin
js/app/ts

ts/app/definitions/clutz

node_modules/

build/**/.*
